@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nav-item:after {
  position: absolute;
  bottom: -17px;
  left: -7px;
  width: 121%;
  height: 5px;
  border-radius: 10px;
  content: "";
  background-color: #FFA50B;
  opacity: 0;
  transition: all 200ms linear;
  outline: none;
}
.nav-item:hover:after {
  bottom: -12.6px;
  opacity: 1;
}
.nav-item.active:hover:after {
  opacity: 0;
}
.nav-item {
  position: relative;
  transition: all 200ms linear;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: linear-gradient(62deg, #B73BBE 0%, #99519c 75%, #992E9D 100%);
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #ae8625;
} */

.gradient{
  background: linear-gradient(91.98deg, #B73BBE 10.46%, #dfbf1c 90.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient2{
  background: linear-gradient(180deg, #FFA50B 0%, #E27900 93.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 700;
}
.gradient3{
  background: linear-gradient(180deg, #B872D0 0%, #372FAA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.borderClass{
  border: 1px solid;
border: linear-gradient(90.24deg, rgba(63, 55, 201, 0.74) -11.5%, rgba(177, 66, 64, 0.53) 169.22%);
}
.gradient4{
  background: linear-gradient(86.45deg, rgba(128, 0, 128, 0.0951653) -133.64%, rgba(128, 0, 128, 0.0756279) -63.21%, rgba(128, 0, 128, 0.0756279) -63.21%, rgba(128, 0, 128, 0.0756279) -63.19%, rgba(128, 0, 128, 0.0712419) -47.37%, rgba(128, 0, 128, 0.0592802) -4.24%, rgba(128, 0, 128, 0.0485147) 34.58%, rgba(128, 0, 128, 0.0210105) 41.77%, rgba(128, 0, 128, 0.012475) 79.16%, rgba(128, 0, 128, 0) 89.22%, rgba(128, 0, 128, 0) 105.04%, rgba(128, 0, 128, 0) 122.29%, rgba(128, 0, 128, 0) 130.92%, rgba(128, 0, 128, 0) 130.92%, rgba(128, 0, 128, 0) 130.95%);

}

.progress::after{
  position: absolute;
  content: "";
  padding: 10px;
  background: #FFC41B;
  border-radius:100%;
  border: 4px solid white;
  bottom: -8px;
  /* left: 7%; */
  right: -10px;
  width: 3px;
  height: 3px;

}
.stepperH::after{
  position: absolute;
  z-index: -1;
  content: "";
  padding: 2px;
  background: #F5F5F6;
  bottom: 18px;
  left: 89%;
  right: -10px;
  width: 450%;
  height: 3px;
}
.circle {
  position: relative;
  z-index: 10;
}

.line1 {
  position: absolute;
  z-index: -10;
  width: 260px;
  height: 1px;
  background-color: gray;
  bottom: -50px;
  transform: rotate(38deg);
}
.line-vertical{
  position: absolute;
  z-index: -10;
  width: 260px;
  height: 1px;
  background-color: gray;
  bottom: -50px;
  transform: rotate(38deg);
}
